
.btn-login {
  background-image: radial-gradient(at 50.40008782459697% 47.92286155904172%, hsla(160, 100%, 47.05882352941176%, 1) 0%, hsla(160, 100%, 47.05882352941176%, 0) 100%), radial-gradient(at 99.38340042021053% 27.178301011152772%, hsla(192, 95.65217391304347%, 45.09803921568628%, 1) 0%, hsla(192, 95.65217391304347%, 45.09803921568628%, 0) 100%), radial-gradient(at 15.094489347381778% 14.532258101644036%, hsla(160, 100%, 47.05882352941176%, 1) 0%, hsla(160, 100%, 47.05882352941176%, 0) 100%), radial-gradient(at 77.76542211973693% 72.27568266775948%, hsla(192, 95.65217391304347%, 45.09803921568628%, 1) 0%, hsla(192, 95.65217391304347%, 45.09803921568628%, 0) 100%), radial-gradient(at 95.08630297559168% 67.79043658085386%, hsla(160, 100%, 47.05882352941176%, 1) 0%, hsla(160, 100%, 47.05882352941176%, 0) 100%);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  transition: all linear 160ms;
  cursor: pointer;
}

.btn-login:hover {
  opacity: 1;
  transform: scale(1.05);
}
