.perfil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.avatar {
    width: 38px; 
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #00ca8e; 
    color: white; 
    font-size: 14px; 
    font-weight: bold;
}