.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  height: 100vh;
  background: radial-gradient(circle at 10% 20%, #0b0f10, #060708);
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  padding: 0 4rem;
}

.login-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4rem;
}

.login-info img {
  width: 64px;
  margin-bottom: 1rem;
}

.login-info h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}

.login-info p {
  color: #94a3b8;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.features {
  display: flex;
  gap: 2rem;
}

.feature h3 {
  color: #00ffa3;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;

  .login-box {
    background: #0f1315;
    border-radius: 1rem;
    padding: 3rem;
    width: 380px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .login-box h2 {
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .login-box p {
    margin-bottom: 1.5rem;
    text-align: left;
    color: #94a3b8;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .forgot {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: #cfcfccfc;
    cursor: pointer;
    text-decoration: none;
  }

  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    color: #94a3b8;
  }


  .divider {
    text-align: center;
    color: #94a3b8;
    margin: 1.2rem 0;
  }

  .social-buttons {
    display: flex;
    gap: 1rem;
  }

  .btn-social {
    flex: 1;
    background: #111;
    border: 1px solid #1f2937;
    border-radius: 8px;
    color: #fff;
    padding: 0.6rem;
    font-weight: 500;
    transition: all 0.2s ease;
  }

  .btn-social:hover {
    background: #1f2937;
  }


  @media (max-width: 900px) {
    .login-container {
      flex-direction: column;
      text-align: center;
    }
    .login-info {
      padding: 2rem;
      align-items: center;
    }
    .login-box {
      width: 90%;
      margin-top: 2rem;
    }
  }
}
