.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #0e1116;
  font-family: 'inter', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  object-fit: cover;
}

.logo h1 {
  color: white;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.login-box {
  background: #161b22;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0px 20px rgba(0, 255, 200, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 320px;
  margin-top: 1.5rem;
}

.login-box h2 {
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
  color: #fff;
}

.login-box p {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 1rem;
}

.titulo {
  display: flex;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #ccccdc;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ccccdc;
}

input[type='email'],
input[type='password'] {
  color: #fff;
  padding: 14px;
  background-color: #1e2228;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
}

.formLogin input:focus,
input[type='email']:focus,
input[type='password']:focus {
  border-color: #1dc328;
  box-shadow: 0 0 8px rgba(29, 195, 40, 0.3);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #d1d5db;
}

.checkbox input[type='checkbox'] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #555;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox input[type='checkbox']:checked {
  background-color: #1dc328;
  border-color: #1dc328;
  box-shadow: 0 0 4px #00c6ff80;
  position: relative;
}

.checkbox input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1;
  left: 4px;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.forgot {
  margin-left: auto;
  font-size: 14px;
  color: #03e2d3;
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.btn-social {
  flex: 1;
  background-color: #0e1116;
  padding: 0.6rem;
  border: 1px solid #333;
  border-radius: 6px;
  margin: 10px 0 0 0;
  cursor: pointer;
  color: #fff;
}

.btn-social:hover {
  background-color: #1c1f24;
  border-color: #3db120;
}

.cadastro-texto {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.cadastro-texto a {
  padding: 0px 0px 0px 7px;
  color: #03e2d3;
  text-decoration: none;
}

.error {
  color: #ff0800;
  font-size: 14px;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .formLogin,
  .login-box {
    padding: 2rem;
    width: 90%;
  }

  .formLogin h1 {
    font-size: 1.7em;
  }
}
