
.container-principal {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  background-color: #19191b;
}

.cabecalho-superior {
  grid-column: 2 / 3;   
  grid-row: 1 / 2;
}

.cabecalho-superior app-cabecalho {
    margin-bottom: 0;
}

.area-conteudo-principal {
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
  padding-top: 0; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.area-conteudo-principal app-grafico {
    margin-top: 0;
}

