
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ccccdc;
}

input {
  background-color: #111418;
  border: 1px solid #2a2d33;
  border-radius: 6px;
  padding: 0.8rem;
  color: #e0e0e0;
  margin-bottom: 1rem;
  width: 90%;
  transition: border-color 0.3s ease;
}

.formLogin input:focus,
input {
  border-color: #16c79a;
  box-shadow: 0 0 4px rgba(22, 199, 154, 0.3);
}

.formLogin a:hover,
a { 
  color: #1dc328;
  text-decoration: underline;
}

.formLogin label,
label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #eaeaea;
  display: block;
  margin-bottom: 0.3rem;
}

.title-label {
    display: flex;
    flex-direction: column;
}