.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: 0; 
    background-color: #14181f;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
}

.sidebar-branding {
    display: flex;
    align-items: center;
    gap: 0.75rem; 
    padding: 1.5rem 1.5rem 1.5rem 1.5rem; 
    margin-bottom: 0.5rem; 
    border: solid 1px #7e7e7e;
    border-radius: 1px;
}

.app-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(135deg, #16c79a, #00ffc8);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.app-logo .logo-image {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    border-radius: 8px;
}

.app-logo .icon-chart {
    font-size: 1.2rem;
    color: #14181f;
}

.app-titles {
    display: flex;
    flex-direction: column;
    line-height: 1.2; 
}

.app-name {
    font-size: 1.15rem;
    font-weight: 700;
    color: #fff; 
}

.app-tagline {
    font-size: 0.75rem;
    font-weight: 400;
    color: #fff; 
    opacity: 0.8;
}

.nav-list {
    list-style: none;
    padding: 60px 0 1.5rem 0; 
    margin: 0;
    flex-grow: 1;
}

.nav-item {
    margin: 0.2rem 0;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.5rem;
    color: #b5b5c0;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-left: 3px solid transparent; 
}

.nav-link.active {
    background-color: #1f272e;
    color: #ffffff;
    font-weight: 600;
    border-left-color: #00ffc8; 
}

.nav-link:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
}

.nav-link .icon {
    font-size: 1.1rem;
    color: #00ffc8;
    width: 20px;
    text-align: center;
}

.btn-add-schedule {
    
    margin: 0 1.5rem 2rem 1.5rem; 
    padding: 0.8rem 1rem;
    background: linear-gradient(90deg, #16c79a, #00ffc8);
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 255, 200, 0.3);
}

.btn-add-schedule:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 255, 200, 0.4);
}

.btn-add-schedule .icon-plus {
    font-size: 1.2rem;
    font-weight: 900;
}