body {
    margin: auto;
    background-color: #333;
    border-radius: 12px;

}

.container {
    flex-direction: column;
    color: aliceblue;
    height: 420px;
    width: 800px;
    margin: 15px auto;
}

.titulo {
    margin: 10px ;
}

.historico {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.nav-finance, .nav-finance-gasto {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: rgba(34, 34, 34, 0.719);
    border-radius: 8px;
    padding: 10px 15px;
    width: 95%;
    font-family: sans-serif;
}

.nav-finance span:first-child {
    font-weight: 600;
}

.nav-finance-gasto span:first-child {
    font-weight: 600;
}


.nav-finance span.valor {
    color: #00c964; 
    font-weight: 600;
}

.nav-finance-gasto span.valor {
    color: #da3e3e; 
    font-weight: 600;
}
