
.box-perfil {
  position: relative;
  display: flex;
  align-items: center;
}

.box-perfil input {
  width: 400px;
  padding: 10px 40px 10px 15px;
  border-radius: 8px;
  border: 2px solid #00ca8e;
  background-color: transparent;
  color: #000000;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.box-perfil input:focus {
  box-shadow: 0 0 10px #00e0c6;
  border-color: #00e0c6;
}


.box-perfil i {
  position: absolute;
  right: 15px;
  color: #00e0c6;
  font-size: 18px;
  pointer-events: none;
}

.header-container {
    width: 100%;
    padding: 20px 0 10px 0;
    background-color: #0e1111;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

