.area-grafico {
  position: relative;
  width: 100%; /* Ajuste a largura conforme necess치rio */
  max-width: 700px; /* Largura m치xima para um layout maior */
  height: 350px; /* Altura do gr치fico */
  margin: 20px auto; /* Centraliza o gr치fico e adiciona margem */
  background-color: #333;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-grafico canvas {
  width: 100% !important;
  height: 100% !important;
}