.area-grafico {
  position: relative;
  width: 100%; /* Ajuste a largura conforme necessário */
  max-width: 700px;
  height: 400px; 
  margin: px auto; /* Centraliza o gráfico e adiciona margem */
  background-color: #333;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-grafico canvas {
  width: 100% !important;
  height: 100% !important;
}