.page{  
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0e1116;
    font-family: 'inter', sans-serif;  
    color: aliceblue;
}
